/* Add any CSS rules for Angular module "cvmembershipfilter" */

.cmember th{
	color: #333 !important;
}

.cmember .cm-row{
	overflow: hidden;
	margin-top: 20px;
}

.cmember .cm-column{
	float: left;
	width: 25%;
}