<div class="crm-container cmember">
  <h3>Current Memberships</h3>

  <div class="crm-block">

    <div class="cm-row">
      <div class="cm-column">
        <label for="start-form">Start From</label>
        <input id="start-form" class="crm-form-text" placeholder="yyyy-mm-dd" ng-model="dateFilter.startFrom"/>
      </div>

      <div class="cm-column">
        <label for="start-to">To</label>
        <input id="start-to" class="crm-form-text" placeholder="yyyy-mm-dd" ng-model="dateFilter.startTo"/>
      </div>
    </div>
  </div>

  <div class="form-item" ng-show="memberships.length">
    <table class="selector row-highlight" style="position: relative;">
      <thead class="sticky">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Member Since</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Source</th>
          <th scope="col">Status</th>
        </tr>
      </thead>

      <tbody>
          <tr ng-repeat="member in memberships | StartRangeFilter:dateFilter ">
            {{ member }}
            <td>{{ member['api.Contact.getsingle'].display_name }}</td>
            <td>{{ member.membership_name }}</td>
            <td>{{ member.join_date }}</td>
            <td>{{ member.join_date }}</td>
            <td>{{ member.end_date }}</td>
            <td>{{ member.source }}</td>
            <td>{{ getHumanStatus(member.status_id) }}</td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="form-item" ng-hide="memberships.length"> Nothing to show.</div>
</div>
